/* About Me Section */
.about-2 {
    line-height: 1.7;
}

/* Headers */
.about-2 h1, .about-2 h2, .about-2 h3 {
    font-weight: 600;
    font-family: "Lora", serif;
    font-style: italic;
}

/* Paragraph Styling */
.about-2 p {
    margin: 1em 0;
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
}

/* List Styling */
.about-2 ul {
    list-style-type: disc;
    padding-left: 1.5em;
}

.about-2 ul li {
    margin: 0.5em 0;
    font-size: 1.05rem;
    font-family: "Roboto", sans-serif;
}

/* Links */
.about-2 a {
    /*color: #27ae60; */
    text-decoration: none;
}

.about-2 a:hover {
    text-decoration: underline;
    /*color: #2ecc71; */
}

/* Blockquotes */
.about-2 blockquote {
    background-color: rgb(30, 25, 45);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 4px solid #27ae60;
    padding-left: 15px;
    color: #b0b0b0;
    font-style: italic;
}
