.custom-theme {
    --bs-heading-color: #00D9E9 !important;
    --bs-card-title-color: #4f7df9 !important;
}

.custom-theme p {
    color: #ceeffa;
}

.main-app-mw {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.main-app-lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.content-body-roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content-body-opensans {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}