.custom-theme-tomato {
    --bs-heading-color: #6CA1D1 !important;
    --bs-card-title-color: #A5D8E9 !important;
}

.custom-theme-tomato p {
    color: cyan;
}

.main-app-mw {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.main-app-lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.content-body-roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content-body-opensans {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}