/* General Markdown Styles */
.blog-content {
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.blog-content img {
    max-width: fit-content;
}

/* Headers */
.blog-content h1, .blog-content h2, .blog-content h3 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

/* Links */
.blog-content a {
    text-decoration: none;
}

.blog-content a:hover {
    text-decoration: underline;
}

/* Lists */
.blog-content ul, .blog-content ol {
    list-style-type: disc;
    margin-left: 20px;
}

/* Blockquotes */
.blog-content blockquote {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 15px;
    font-style: italic;
}
