:root {
    --md-body-text: #c1f7f68f;

    --md-light: #2181e1; 
    --md-ultra-light: #4878e9; 
    --md-hyper-light: #75b8ff;

    --md-dark: #1e4b76; 
    --md-ultra-dark: #0c1d2e;

    --md-complimentary-blockquote: #eaa82c; 
}