:root {
    --md-body-text: #c9eded;

    --md-light: #00d4d4;
    --md-ultra-light: #2affff;
    --md-hyper-light: #80ffff;

    --md-dark: #007f80;
    --md-ultra-dark: #015656;

    --md-complimentary-blockquote: #C84900;
}