:root {
  --body-text: #b6cbd5;
  --light-header: #00B8D9;
  --lighter-header: var(--lighter-header);
}

.markdown-cyan p {
  color: var(--body-text);
}

.markdown-cyan h1 {
  color: var(--light-header);
}

.markdown-cyan h2 {
  color: var(--lighter-header);
}

.markdown-cyan h3 {
  color: #6CA1D1;
}

.markdown-cyan h4 {
  color: var(--lighter-header);
}

.markdown-cyan h5 {
  color: var(--light-header);
}

.markdown-cyan h6 {
  color: #6CA1D1;
}

.markdown-cyan a {
  color: var(--light-header);
}

.markdown-cyan a:hover {
  color: var(--lighter-header);
}

.markdown-cyan ul,
.markdown-cyan ol {
  color: #b6cbd5;
}

.markdown-cyan li strong {
  color: #26c0c0;
}

.markdown-cyan pre {
  background-color: var(--lighter-header);
  color: #1E5C8D;
}

.markdown-cyan code {
  background-color: #1E5C8D;
  color: #A5D8E9;
}

.markdown-cyan blockquote {
  background-color: #333333;
  border-left: 4px solid var(--light-header);
  color: #A5D8E9;
}

.markdown-cyan del {
  color: #A5D8E9;
}

.markdown-cyan hr {
  border: 1px solid var(--light-header);;
}

.markdown-cyan th,
markdown-cyan td {
  border: 1px solid #08afcd;
  color: #08424c;
}

.markdown-cyan th {
  background-color: #15b0bc;
  color: #07363f;
}

.markdown-cyan tr:nth-child(even) {
  background-color: #024e5a;
}

.markdown-cyan tr:hover {
  background-color: #007B8F;
}

.markdown-cyan td {
  color: #b6cbd5;
}