:root {
  --body-text: #b6cbd5;
  --light-header: #49C8DE;
  --ultra-light-header: #28CDEB;
  --dark-header: #6CA1D1;
  --super-dark-header: #08424c;
  --light-background: #50bbce;
  --complimentary-blockquote: #E85813;
}

.markdown-cyan p {
  color: var(--body-text);
}

.markdown-cyan h1 {
  color: var(--light-header);
}

.markdown-cyan h2 {
  color: var(--ultra-light-header);
}

.markdown-cyan h3 {
  color: var(--dark-header);
}

.markdown-cyan h4 {
  color: var(--ultra-light-header);
}

.markdown-cyan h5 {
  color: var(--light-header);
}

.markdown-cyan h6 {
  color: var(--dark-header);
}

.markdown-cyan a {
  color: var(--light-header);
}

.markdown-cyan a:hover {
  color: var(--ultra-light-header);
}

.markdown-cyan ul,
.markdown-cyan ol {
  color: var(--body-text);
}

.markdown-cyan li strong {
  color: var(--dark-header);
}

.markdown-cyan pre {
  background-color: var(--ultra-light-header);
}

.markdown-cyan blockquote {
  background-color: var(--super-dark-header);
  border-left: 4px solid var(--complimentary-blockquote);
  color: var(--body-text);
}

.markdown-cyan del {
  color: var(--light-background);
}

.markdown-cyan hr {
  border: 1px solid var(--light-header);
}

.markdown-cyan th,
markdown-cyan td {
  border: 1px solid var(--light-header);
  color: var(--dark-header);
}

.markdown-cyan th {
  background-color: var(--dark-header);
  color: var(--dark-header);
}

.markdown-cyan tr:nth-child(even) {
  background-color: var(--dark-header);
}

.markdown-cyan tr:hover {
  background-color: var(--light-header);
  color: var(--super-dark-header);
}

.markdown-cyan td {
  color: var(--body-text);
}