

.markdown-color p {
  color: var(--md-body-text);
}

.markdown-color h1 {
  color: var(--md-light);
}

.markdown-color h2 {
  color: var(--md-ultra-light);
}

.markdown-color h3 {
  color: var(--md-hyper-light);
}

.markdown-color h4 {
  color: var(--md-ultra-light);
}

.markdown-color h5 {
  color: var(--md-light);
}

.markdown-color h6 {
  color: var(--md-dark);
}

.markdown-color a {
  color: var(--md-light);
}

.markdown-color a:hover {
  color: var(--md-ultra-light);
}

.markdown-color ul,
.markdown-color ol {
  color: var(--md-body-text);
}

.markdown-color li strong {
  color: var(--md-hyper-light);
}

.markdown-color pre {
  background-color: var(--md-ultra-light);
}

.markdown-color blockquote {
  background-color: var(--md-ultra-dark);
  border-left: 10px solid var(--md-complimentary-blockquote);
  color: var(--md-body-text);
}

.markdown-color del {
  color: var(--md-hyper-light);
}

.markdown-color hr {
  border: 1px solid var(--md-light);
}

.markdown-color th,
.markdown-color td {
  border: 1px solid var(--md-light);
  color: var(--md-dark);
}

.markdown-color th {
  background-color: var(--md-dark);
  color: var(--md-ultra-dark);
}

.markdown-color tr:nth-child(even) {
  background-color: var(--md-ultra-dark);
}

.markdown-color tr:hover {
  background-color: var(--md-hyper-light);
  color: var(--md-ultra-dark);
}

.markdown-color td {
  color: var(--md-body-text);
}