/* General Markdown Styles */
.music-blog-2 {
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

/* Headers */
.music-blog-2 h1, .music-blog-2 h2, .music-blog-2 h3 {
    font-weight: 600;
}

/* Links */
.music-blog-2 a {
    text-decoration: none;
}

.music-blog-2 a:hover {
    text-decoration: underline;
}

/* Lists */
.music-blog-2 ul, .music-blog-2 ol {
    margin-left: 20px;
}

/* Blockquotes */
.music-blog-2 blockquote {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 15px;
    font-style: italic;
}
